body {
  font: 24px Helvetica;
  background: black;
  color: #999999;
}

#one {
  text-align: center;
  text-transform: uppercase;
}

.header {
  height: 70vh;
  background: url(imagenes/paisaje3.jpg);
  background-size: cover;
}

p {
  font-size: 18px;
}
img {
  border-radius: 1em;
}

.imagen {
  width: 200px;
  height: auto;
}

.titulo {
  color: #0a0e27;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font: italic bold 100px Georgia, Serif;
  text-shadow: -4px 3px 0 #34d16e, -14px 7px 0 #fff;
}
.btn {
  background-color: darkslategray;
  color: red;
  text-decoration-style: solid;
  border-radius: 0.5em;
  border-color: red;
}

.frase-texto {
  color: #2f58a5;
  font-size: 32px;
}
